body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: rgba(25, 25, 25, 1);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1000;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(cyan, purple);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgb(0, 195, 255), rgb(107, 0, 128));
}

.marble2 {
  position: absolute;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  transition: box-shadow 0.5s ease-out;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.marble2:hover {
  box-shadow: 
    /* Inner white glow */ inset 0 0 20px rgba(255, 255, 255, 0.8),
    inset 0 0 40px rgba(255, 255, 255, 0.6),
    /* Outer white bloom/glow */ 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4),
    0 0 50px rgba(255, 255, 255, 0.2);
}

.black-hole {
  position: absolute;
  width: 8vh;
  height: 8vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 50%;
  /* White outward rays */
  box-shadow: 0 0 0 1vmin rgba(255, 255, 255, 0.8),
    0 0 0 2vmin rgba(255, 255, 255, 0.6), 0 0 0 3vmin rgba(255, 255, 255, 0.4),
    0 0 0 4vmin rgba(255, 255, 255, 0.2);
  z-index: 1;
  animation: appear 2s ease-in-out forwards, pulse 3s infinite linear;
  opacity: 0;
}
@keyframes appear {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 1vmin rgba(255, 255, 255, 0.5),
      0 0 0 2vmin rgba(255, 255, 255, 0.3), 0 0 0 3vmin rgba(255, 255, 255, 0.2),
      0 0 0 4vmin rgba(255, 255, 255, 0.1), 0 0 0 5vmin rgba(255, 255, 255, 0),
      0 0 2vmin 5vmin rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5),
      0 0 0 1vmin rgba(255, 255, 255, 0.5), 0 0 0 2vmin rgba(255, 255, 255, 0.3),
      0 0 0 3vmin rgba(255, 255, 255, 0.2), 0 0 0 4vmin rgba(255, 255, 255, 0.1),
      0 0 2vmin 5vmin rgba(255, 255, 255, 0.1);
  }
}
.btn3 {
  position: relative;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  column-gap: 10%;
  position: sticky;
  backdrop-filter: blur(16px);
  font-family: SpaceGrotesk-Light;
  top: 0%;
  z-index: 10;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  background-color: #ffffff15;
}
.headbtn {
  min-width: 10vw;
  color: white;
  transition: box-shadow 0.5s ease-out;
  text-align: center;
  position: sticky;
  text-shadow: 1px 1px 1px #000;
  font-size: 16px;
}

.headbtn:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 243, 243, 0.5);
}

.smol {
  font-size: 10px;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  background-color: #322f2f55;

  display: flex;
  align-items: top;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 40px;
  /* border-style: solid;
  border-color: white; */
  width: max(90%, 600px);
  z-index: 1;
}

.box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: red;
  z-index: 0;
}
.box > div {
  height: 600px;
  width: min(600px, 90vw);
  /* border-style: solid;
  border-width: 3px; */
  color: rgb(158, 158, 158);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}
/* two divs, one for text-wrapper (has header and some paragraph text) and image div */
.text-wrapper {
  padding-left: 8px;
}

li {
  padding-bottom: 10px;
}

h1 {
  color: rgb(226, 226, 226);
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 1400px) {
  .box > div {
    height: 100%;
    padding-bottom: 10%;
  }
}

@media (max-width: 400px) {
  .box {
    display: flex;
    align-items: top;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
  }
  .box > div {
    height: 100%;
    padding-bottom: 10%;
    /* border-style: solid;
    border-width: 3px; */
    font-size: 15px;
  }
  h1 {
    font-size: 15px;
  }
}

img {
  height: 100%;
  width: 100%;
  size: 10px;
  object-fit: contain;
}
